:root {
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(0, 0, 0);
  background-image:url("imagebackground.avif");
  background-size:auto;
}
#header{
  color:white;
  display:flex;
  justify-content:space-between;
} 
h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  margin-right:10px;
  border-radius: 8px;
  border: 2px solid transparent;
  color:white;
  padding: 10px;
  font-size: 25px;
  font-weight: 500;
  font-family: inherit;
  background-color: rgba(0,0,0,0.5);
  cursor: pointer;
  transition:linear 0.5s;
  box-shadow:0 0 10px;
}
a{
  color:white;
  text-decoration:none;
}
.fa-facebook{
  padding:2px;
  height:20px;
  width:20px;
  color:blue;
}
.fa-square-instagram{
  padding:2px;
  height:20px;
  width:20px;
  color:rgb(246, 56, 88);
}
.fa-linkedin{
  padding:2px;
  height:20px;
  width:20px;
  color:blue;
}
footer{
  border-radius:15px;
  background-color:rgba(0,0,0,0.5);
  display:flex;
  justify-content: space-around;
}
.headings{
  color:white;
  font-weight:bold;
}
img{
  height:75px;
  width:475px;
}

